
<header class="header" >
    <div class="container">
        <div class="some-header">
            <div class="container-div">
                <div class="logo" onclick="document.location.href='index.html'">
                    <img src="../img/logo2.png" alt="">
                </div>
                <div class="location">
                    <img src="../img/location-pin2.svg" alt="location">
                    <p>Филиалы клиники</p>
                </div>
            </div>
            <div class="search-input">
                <form role="search" method="get" id="searchform" class="searchform" action="/" style="height: 30px;">
                    <button class="search">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 192.904 192.904" style="enable-background:new 0 0 192.904 192.904;" xml:space="preserve">
                <path d="M190.707,180.101l-47.078-47.077c11.702-14.072,18.752-32.142,18.752-51.831C162.381,36.423,125.959,0,81.191,0
                    C36.422,0,0,36.423,0,81.193c0,44.767,36.422,81.187,81.191,81.187c19.688,0,37.759-7.049,51.831-18.751l47.079,47.078
                    c1.464,1.465,3.384,2.197,5.303,2.197c1.919,0,3.839-0.732,5.304-2.197C193.637,187.778,193.637,183.03,190.707,180.101z M15,81.193
                    C15,44.694,44.693,15,81.191,15c36.497,0,66.189,29.694,66.189,66.193c0,36.496-29.692,66.187-66.189,66.187
                    C44.693,147.38,15,117.689,15,81.193z"></path>
                    </svg>
                        <input type="submit" id="searchsubmit">
                    </button>
                    <input type="text" name="s" id="s">
                </form>
            </div>
            <div class="container-div">
                <nav>
                    <ul class="container-nav">     
                        <li><a href="index.html">Главная</a></li>
                        <li><a href="about-company.html">О компании</a></li>
                        <li><a href="all-service.html">Услуги</a></li>
                        <li><a href="doctors.html">Врачи</a></li>
                        <li><a href="price.html">Прайс</a></li>
                        <li><a href="contact.html">Контакты</a></li>
                            <ul class="dop-link">
                                <li><a href="news.html">Новости</a></li>
                                <li><a href="review.html">Отзывы</a></li>
                                <li><a href="FAQ.html">FAQ</a></li>
                                <li><a href="sale.html">Акции</a></li>
                            </ul>
                    </ul>
                </nav>
                <div class="search" onclick="document.location.href='search.html'">
                    <svg version="1.1" id="Capa_1" class="open_search_block" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 192.904 192.904" style="enable-background:new 0 0 192.904 192.904;" xml:space="preserve">
                <path d="M190.707,180.101l-47.078-47.077c11.702-14.072,18.752-32.142,18.752-51.831C162.381,36.423,125.959,0,81.191,0
                    C36.422,0,0,36.423,0,81.193c0,44.767,36.422,81.187,81.191,81.187c19.688,0,37.759-7.049,51.831-18.751l47.079,47.078
                    c1.464,1.465,3.384,2.197,5.303,2.197c1.919,0,3.839-0.732,5.304-2.197C193.637,187.778,193.637,183.03,190.707,180.101z M15,81.193
                    C15,44.694,44.693,15,81.191,15c36.497,0,66.189,29.694,66.189,66.193c0,36.496-29.692,66.187-66.189,66.187
                    C44.693,147.38,15,117.689,15,81.193z"/>
                    </svg>
                    <div class="search_block">
                        <form>
                            <input type="search">

                            <button type="submit"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 192.904 192.904" style="enable-background:new 0 0 192.904 192.904;" xml:space="preserve">
                <path d="M190.707,180.101l-47.078-47.077c11.702-14.072,18.752-32.142,18.752-51.831C162.381,36.423,125.959,0,81.191,0
                    C36.422,0,0,36.423,0,81.193c0,44.767,36.422,81.187,81.191,81.187c19.688,0,37.759-7.049,51.831-18.751l47.079,47.078
                    c1.464,1.465,3.384,2.197,5.303,2.197c1.919,0,3.839-0.732,5.304-2.197C193.637,187.778,193.637,183.03,190.707,180.101z M15,81.193
                    C15,44.694,44.693,15,81.191,15c36.497,0,66.189,29.694,66.189,66.193c0,36.496-29.692,66.187-66.189,66.187
                    C44.693,147.38,15,117.689,15,81.193z"/>
                    </svg></button>
                        </form>
                    </div>
                </div>
                <div class="burger-menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 20 14">
                        <path id="бургер" class="cls-1" d="M1580,27h20v2h-20V27Zm0,6h20v2h-20V33Zm5.94,6H1600v2h-14.06V39Z" transform="translate(-1580 -27)"/>
                      </svg>
                </div>
                <nav class="dop-link-desc">
                    <a href="news.html">Новости</a>
                    <a href="review.html">Отзывы</a>
                    <a href="FAQ.html">FAQ</a>
                    <a href="sale.html">Акции</a>
                </nav>
                <nav class="drop-menu">
                    <div class="top"><span class="close-dop-menu">&#215;</span></div>
                    <ul class="container-nav">     
                        <li><a href="index.html">Главная</a></li>
                        <li><a href="about-company.html">О компании</a></li>
                        <li class="drop-service"><a href="all-service.html">Услуги</a><img src="../img/arr-dropMenu.png" alt=""></li>
                            <ul class="dop-link-drop">
                                <li><a href="one-service.html">Диагностика</a></li>
                                <li><a href="one-service.html">Профессиональная гигиена, профилактика</a></li>
                                <li><a href="one-service.html">Терапия</a></li>
                                <li><a href="one-service.html">Хирургия</a></li>
                                <li><a href="one-service.html">Пародонтология</a></li>
                                <li><a href="one-service.html">Ортопедия / протезирование</a></li>
                                <li><a href="one-service.html">Имплантация</a></li>
                                <li><a href="one-service.html">Ортодонтическое лечение</a></li>
                                <li><a href="one-service.html">Детская стоматология</a></li>
                            </ul>
                        <li><a href="doctors.html">Врачи</a></li>
                        <li><a href="price.html">Прайс</a></li>
                        <li><a href="contact.html">Контакты</a></li>
                        <li><a href="news.html">Новости</a></li>
                        <li><a href="review.html">Отзывы</a></li>
                        <li><a href="FAQ.html">FAQ</a></li>
                        <li><a href="sale.html">Акции</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>