<div class="popUp-mainArea" style="display: none;"></div>

<div class="popUpConf popUp" style="display: none;">
    <h3>Политика конфиденциальности</h3>
    <div class="some-info">
        <p>
            1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
        </p>
        <p>
            1.1 В настоящей Политике конфиденциальности используются следующие 
            термины:
        </p>
        <p>
            1.1.1. «Администрация сайта Интернет-магазина (далее – Администрация сайта) » – 
            уполномоченные сотрудники на управления сайтом, действующие от имени 
            интернет-магазина Fellini, которые организуют и осуществляет обработку 
            персональных данных, а также определяет цели обработки персональных данных, 
            состав персональных данных, подлежащих обработке, действия или операции
            совершаемые с персональными данными.
        </p>
        <p>
            1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или 
            косвенно определенному или определяемому физическому лицу (субъекту 
            персональных данных).
        </p>
        <p>
            1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
        </p>
        <p>
            1.1 В настоящей Политике конфиденциальности используются следующие 
            термины:
        </p>
        <p>
            1.1.1. «Администрация сайта Интернет-магазина (далее – Администрация сайта) » – 
            уполномоченные сотрудники на управления сайтом, действующие от имени 
            интернет-магазина Fellini, которые организуют и осуществляет обработку 
            персональных данных, а также определяет цели обработки персональных данных, 
            состав персональных данных, подлежащих обработке, действия или операции
            совершаемые с персональными данными.
        </p>
        <p>
            1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или 
            косвенно определенному или определяемому физическому лицу (субъекту 
            персональных данных).
        </p>
        <p>
            1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
        </p>
        <p>
            1.1 В настоящей Политике конфиденциальности используются следующие 
            термины:
        </p>
        <p>
            1.1.1. «Администрация сайта Интернет-магазина (далее – Администрация сайта) » – 
            уполномоченные сотрудники на управления сайтом, действующие от имени 
            интернет-магазина Fellini, которые организуют и осуществляет обработку 
            персональных данных, а также определяет цели обработки персональных данных, 
            состав персональных данных, подлежащих обработке, действия или операции
            совершаемые с персональными данными.
        </p>
        <p>
            1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или 
            косвенно определенному или определяемому физическому лицу (субъекту 
            персональных данных).
        </p>
    </div>
    <span class="close-popUp"><img src="../img/close-popUp.png" alt=""></span>
</div>

<div class="popUpBranches popUp" style="display: none;">
    <h3>Филиалы клиники</h3>

    <div class="allBranches">
        <div class="oneAdress">
           <a href="#"> <p>Пр. Маршала Жукова, Д.33</p></a>
            <a href="tel:+7 (812) 743-27-78">тел.  +7 (812) 743-27-78</a>
        </div>
        <div class="oneAdress">
            <a href="#"> <p>Пр. Маршала Жукова, Д.33</p></a>
            <a href="tel:+7 (812) 743-27-78">тел.  +7 (812) 743-27-78</a>
        </div>
        <div class="oneAdress">
            <a href="#"> <p>Пр. Маршала Жукова, Д.33</p></a>
            <a href="tel:+7 (812) 743-27-78">тел.  +7 (812) 743-27-78</a>
        </div>
        <div class="oneAdress">
            <a href="#"> <p>Пр. Маршала Жукова, Д.33</p></a>
            <a href="tel:+7 (812) 743-27-78">тел.  +7 (812) 743-27-78</a>
        </div>
        <div class="oneAdress">
            <a href="#"> <p>Пр. Маршала Жукова, Д.33</p></a>
            <a href="tel:+7 (812) 743-27-78">тел.  +7 (812) 743-27-78</a>
        </div>
        <div class="oneAdress">
            <a href="#"> <p>Пр. Маршала Жукова, Д.33</p></a>
            <a href="tel:+7 (812) 743-27-78">тел.  +7 (812) 743-27-78</a>
        </div>
        <div class="oneAdress">
            <a href="#"> <p>Пр. Маршала Жукова, Д.33</p></a>
            <a href="tel:+7 (812) 743-27-78">тел.  +7 (812) 743-27-78</a>
        </div>
        <div class="oneAdress">
            <a href="#"> <p>Пр. Маршала Жукова, Д.33</p></a>
            <a href="tel:+7 (812) 743-27-78">тел.  +7 (812) 743-27-78</a>
        </div>
    </div>

    <span class="close-popUp"><img src="../img/close-popUp.png" alt=""></span>
</div>

<div class="popUpOrder popUp" style="display: none;">
    <form action="">
        <h3>Запись на прием</h3>
        <input type="text" placeholder="Ваша фамилия" class="checkSecName"> 
        <input type="text" placeholder="Ваше имя" class="checkName">
        <select id="location1">
            <option value="" hidden>Выбрать клинику</option>
            <option value="0">Ул. Савушкина, д.125, корп. 1</option>
            <option value="1">Ул. Боткинская, д.1	</option>
            <option value="2">Пр. Испытателей, д.6</option>
            <option value="3">Ул. Ильюшина, д.1</option>
            <option value="4">Пр. Маршала Жукова, д.33 </option>
            <option value="5">Пр. Просвещения, д.30 </option>
            <option value="6">Ул. Бутлерова, д.40</option>
            <option value="7">Ул. Краснопутиловская, д. 113</option>
        </select>
        <select id="doctors1">
            <option value="" hidden>Выбрать врача</option>
            <option value="0">Ул. Савушкина, д.125, корп. 1</option>
            <option value="1">Ул. Боткинская, д.1	</option>
            <option value="2">Пр. Испытателей, д.6</option>
            <option value="3">Ул. Ильюшина, д.1</option>
            <option value="4">Пр. Маршала Жукова, д.33 </option>
            <option value="5">Пр. Просвещения, д.30 </option>
            <option value="6">Ул. Бутлерова, д.40</option>
            <option value="7">Ул. Краснопутиловская, д. 113</option>
        </select>
        <input type="number" placeholder="Ваш телефон" class="checkTel">
        <input type="email" placeholder="Ваша почта" class="checkEmail">
        <input type="text" class="js-datepicker" placeholder="Желаемая дата визита" id="my-element" />

        <div class="firstTime">
            <input type="checkbox" checked id='one'>
            <label for="one">Я в первые обращаюсь
          в клинику “ 33 зуба”. </label>
          </div>
        <textarea placeholder="Причина обращения"></textarea>
        <div class="firstTime">
            <input type="checkbox" checked id='one'>
            <label for="one">Я выражаю свое согласие на
                обработку указанных
                персональных данных</label>
          </div>
        <button class="green-button openThank">записатся</button>
    </form>
    <span class="close-popUp"><img src="../img/close-popUp.png" alt=""></span>
</div>


<div class="popUpAsk popUp" style="display: none;">
    <form action="">
        <h3>Задать вопрос</h3>
        <input type="text" placeholder="Ваша фамилия" class="checkSecName"> 
        <input type="text" placeholder="Ваше имя" class="checkName">
        <input type="number" placeholder="Ваш телефон" class="checkTel">
        <input type="email" placeholder="Ваша почта" class="checkEmail">
        <textarea placeholder="Вопрос"></textarea>
        <button class="green-button openThank">Отправить</button>
    </form>
    <span class="close-popUp"><img src="../img/close-popUp.png" alt=""></span>
</div>

<div class="popUpThank popUp" style="display: none;">
    <h3>Благодарим Вас за заявку!</h3>
    <span class="close-popUp"><img src="../img/close-popUp.png" alt=""></span>
</div>


<div class="popUpThank2 popUp" style="display: none;">
    <h3>Благодарим Вас за оставленный отзыв. Наши сотрудники будут ознакомлены с ним в ближайшее время.</h3>
    <span class="close-popUp"><img src="../img/close-popUp.png" alt=""></span>
</div>

<div class="popUpInvalid popUp" style="display: none;">
    <h3>Номер телефона нужно вводить без дефисов, пробелов, скобок</h3>
    <span class="close-popUp"><img src="../img/close-popUp.png" alt=""></span>
</div>


<div class="popUpThank3 popUp" style="display: none;">
    <h3>Благодарим </h3>
    <span class="close-popUp"><img src="../img/close-popUp.png" alt=""></span>
</div>

<div class="popUpInvalid2 popUp" style="display: none;">
    <h3>Ошибка</h3>
    <span class="close-popUp"><img src="../img/close-popUp.png" alt=""></span>
</div>